
:root{
    --back: #0d1117;
    --border-color: #30363d;
}
.view-profile{
    /* background-color: red; */
    width: 100%;
    height: 98vh;
    margin: 0 auto;
    position: relative;
    max-width: 800px;
    border: 1px solid var(--border-color);
}

.profile > header {
    /* background-color: blueviolet; */
    height: 200px;
}

.profile > header > #qrepo {
    display: flex;
    /* justify-content: center; */
    background-color: var(--back);
    align-items: center;
    padding: 0 10px;
}

.infor-profile{
    /* background-color: violet; */
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 17px;
}

#infor{
    display: flex;
    /*justify-content: center;*/
}


#photo {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: red;
    top: -50px;
    left: 15px;
}
#infor > .userin {
    margin-top: 50px;
    /*margin-left: 17px;*/
    flex-basis: 100px;
    text-align: left;
}

#infor > .userin > p {
    line-height: 0px;
}

.userin p#name {
    font-weight: bold;
}

.userin p#username{
    color: #8b949e;
}
#bio{
    font-size: 16px;
    color: #c9d1d9;
    padding: 0 0 10px 0;
}
